h4{
    color:aqua;
    background-color: blue;
    /*text-align: center;*/
    font-size: 30px;
    font-style: oblique;
    font-weight: 200px;
    /*width: 20%;
    height: 300px;*/
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding:40%;
    margin: 10px 20px 50px;
    margin:30px 30px;
    border: 10px solid rgb(33, 14, 206);
    border-radius: 10px;
    box-shadow: 10px 10px red;
}